.navbar {
    padding: .1rem 10rem;
    background-color: var(--sm-bg-dark);
}

.navbar ul {
    padding: 0rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
}

.navbar a {
    margin-right: 1rem;
    color: var(--sm-text-dark);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.enable {
    border-bottom: 1px solid var(--sm-text-dark);
}
