rest-api/.gradle
rest-api/build/
!rest-api/gradle/wrapper/gradle-wrapper.jar
!rest-api/**/src/main/**/build/
!rest-api/**/src/test/**/build/

### IntelliJ IDEA ###
rest-api/.idea
rest-api/*.iws
rest-api/*.iml
rest-api/*.ipr
rest-api/out/
!rest-api/**/src/main/**/out/
!rest-api/**/src/test/**/out/

### NetBeans ###
rest-api/nbproject/private/
rest-api/nbbuild/
rest-api/dist/
rest-api/nbdist/
rest-api/.nb-gradle/

### VS Code ###
rest-api/.vscode/
