.list h2 {
    margin: .15rem;
    font-size: 1.15rem;
}

.list span {
    font-size: .95rem;
    font-weight: 400;
    margin-right: .35rem;
    color: var(--sm-text-dark);
    padding: 0 .75rem .1rem .75rem;
    background-color: var(--sm-bg-secondary);
}