.card h2 {
    margin: .25rem 0rem;
    font-size: 1.25rem;
}

.card span {
    font-size: .85rem;
    font-weight: 300;
    position: absolute;
    margin-left: .35rem;
    border-radius: 50rem;
    color: var(--sm-text-dark);
    padding: 0 .5rem .15rem .5rem;
    transform: translate(-25%,-50%);
    background-color: var(--sm-bg-secondary);
}